# Traces
# ======
# Jaeger UI:
# http://localhost:16686
#
# Service: go-otel-example
#
# Métricas
# ========
# Prometheus:
# http://localhost:9090
#
# Dashboard
# =========
# Grafana: 
# http://localhost:3000
# Data source: Prometheus → http://prometheus:9090
# Data source: Jaeger → http://jaeger:16686
#
# Logs
# ====
# Elasticsearch:
# http://localhost:9200/otel-logs/_search
#
# Kibana:
# http://localhost:5601

version: "3.9"

services:
  otel-collector:
    image: otel/opentelemetry-collector-contrib:latest
    container_name: otel-collector
    command: ["--config=/etc/otel-collector.yaml"]
    volumes:
      - ./otel-collector.yaml:/etc/otel-collector.yaml
    ports:
      - "4317:4317"   # OTLP gRPC
      - "8889:8889"   # Prometheus scrape
    depends_on:
      - jaeger
      - prometheus
      - elasticsearch

  jaeger:
    image: jaegertracing/jaeger:latest
    container_name: jaeger
    ports:
      - "16686:16686" # UI

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yaml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.12.0
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ports:
      - "9200:9200"

  kibana:
    image: docker.elastic.co/kibana/kibana:8.12.0
    container_name: kibana
    depends_on:
      - elasticsearch
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    ports:
      - "5601:5601"

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
      - elasticsearch
